{% extends 'base/base.html' %}
{% load staticfiles %}







{% block header %}

{% endblock header %}
    



{% block content %}
    <div class="margin0px center">
        {% for link in object_list %}
            <a class="post" href="{{ link.Url }}">
                <div>
                    <img src="{{ link.GetImg }}" alt="">
                    <h1>{{ link }}</h1>
                    <p>{{ link.description | truncatechars:100 }}</p>
                </div>
            </a>
        {% endfor %}
    </div>
        


{% endblock content %}
