





.creditos {
    list-style-type: none;
}

.creditos li {
    padding: 5px;
}

.creditos a {
    text-decoration: none;
}



.credits-mobile {
    font-size: 24px;
    list-style: none;
    text-align: center;
}