{% extends 'base/mobile/base.html' %}
{% load staticfiles %}







{% block header %}

{% endblock header %}
    

{% block content %}
    <div style="padding: 20px">
        {% for obj in object_list %}
        <a class="button1" href="{{ obj.Url }}">
            <div style="width: 100%">
                <img src="{{ obj.GetImg }}" style="width: 100%; max-height: 400px" alt="">
                <b>{{ obj.title }}</b>
                <p>{{ obj.description | truncatechars:100 }}</p>
            </div>
        </a>
        {% endfor %}
    </div>
        


{% endblock content %}
