{% load staticfiles %}
{% load i18n %}


<!DOCTYPE html>
<html lang="es">
<!--
   Copyright 2018 Wilmer Martínez <www.wilmermartinez.com>

   plantilla para dispositivos moviles.
-->

<head>
   <meta charset="utf-8" />
   <title>{{ TITLE }}</title>
   <link rel="shortcut icon" href="{{ VAR.IMG_LOGO }}">

   <!-- Properties (Project) -->
   <meta name="project_name" content={{ PROJECT_NAME }} />
   <meta name="project_description" content={{ PROJECT_DESCRIPTION }} />
   <meta name="project_author" content={{ PROJECT_AUTHOR }} />
   <!-- SEO metaetiquetas -->
   <meta name="author" content="{{ PROJECT_AUTHOR }}" />
   <meta name="title" content="{{ TITLE }}" />
   <meta name="description" content="{{ DESCRIPTION }}" />
   <meta name="keywords" content="{{ KEYWORDS }}" />
   <!-- Twitter Card data -->
   <meta name="twitter:card" content="summary" />
   <meta name="twitter:title" content="{{ TITLE }}" />
   <meta name="twitter:description" content="{{ DESCRIPTION }}" />
   <meta name="twitter:image" content="{{ IMAGE }}" /><!-- Las imágenes de sumario de Twitter deben ser de al menos 200x200px -->
   <!-- Open Graph data -->
   <meta property="og:title" content="{{ TITLE }}" />
   <meta property="og:type" content="article" />
   <meta property="og:url" content="{{ request.build_absolute_uri }}" />
   <meta property="og:image" content="{{ IMAGE }}" />
   <meta property="og:description" content="{{ DESCRIPTION }}" />
   <meta property="og:site_name" content="{{ VAR.WEB_NAME }}" />
   <meta property="og:app_id" content="{{ VAR.FACEBOOK_APP_ID }}" />
   <!-- CSS -->
   <link rel="stylesheet" href="{% static 'base/css/mobile/base.css' %}" />
   <link rel="stylesheet" href="{% static 'base/css/mobile/color.css' %}" />
   <link rel="stylesheet" href="{% static 'base/css/mobile/line.css' %}" />
   <link rel="stylesheet" href="{% static 'base/css/mobile/nav.css' %}" />
   <link rel="stylesheet" href="{% static 'base/css/mobile/element.css' %}" />
   <link rel="stylesheet" href="{% static 'base/css/mobile/form.css' %}" />
   <link rel="stylesheet" href="{% static 'base/css/mobile/size.css' %}" />
   <link rel="stylesheet" href="{% static 'base/css/mobile/list.css' %}" />
   <link rel="stylesheet" href="{% static 'base/css/mobile/img.css' %}" />
   <link rel="stylesheet" href="{% static 'base/css/mobile/table.css' %}" />

   {# Utilizamos el siguiente bloque para incluir otras propiedades o archivos CSS o JS. #}
   {% block head-extras %}
   {% endblock head-extras %}
</head>

<body>


   {# Facebook SDK #}
   <div id="fb-root"></div>
   <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = 'https://connect.facebook.net/es_LA/sdk.js#xfbml=1&version=v3.2&appId=1884552708497884&autoLogAppEvents=1';
      fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));</script>
   {# End Facebook SDK #}






   <div id="page">
      <div id="header">
            {# barra de navegación #}
            <nav id="nav">
               <div id="nav_button" style="padding: 20px">
                  <img id="nav_show" onclick="shownav()" style="height: 100px; width: 100px; cursor: pointer" src="{{ VAR.IMG_MENU }}" alt="">
                  <img class="img_header" src="{{ VAR.IMG_LOGO }}" alt="{{ TITLE }}">
                  <ul id="nav_ul" style="display: none">
                     {% for link in links.GetNav %}
                        {% if link.Url == request.path %}
                           <li><a class="nav_active" href="{{ link.Url }}" title="{{ link.description }}">{{ link }}</a></li>
                        {% else %}
                           <li><a href="{{ link.Url }}" placeholder="{{ link.descriptiton }}" title="{{ link.description }}">{{ link }}</a></li>
                        {% endif %}
                     {% endfor %}
                  </ul>
               </div>
            </nav>




         <script>
            function shownav() {
               var btn = document.getElementById("nav_show"); 
               var ul = document.getElementById("nav_ul");
               if (ul.style.display == "none") {
                  ul.style.display = "block";
               }
               else {
                  ul.style.display = "none";
               }
            }
         </script>



         {% block header %}
         {% endblock header %}
      </div>

         

      <div id="content">
         <div class="subtitle">
            <img class="subtitleimg" src="{{ subtitleimg }}" alt="">
            <div class="subtitletexto">{{ subtitle }}</div>
         </div>
         <div class="social">
            <div class="fb-like" data-href="{{ request.build_absolute_uri }}" data-layout="button" data-action="like" data-size="large" data-show-faces="true" data-share="true"></div>
         </div>
         <br>
         {% block content %}
         {% endblock content %}
         <br>
      </div>

      <div id="footer">
         {% block footer %}
         {% endblock footer %}


         {# redes sociales ---------------------------------------#}
         <div id="social">
            <h2>{% trans "¡Síguenos en las redes sociales!" %}</h2>
            <table class="social">
               <tbody>
                  <tr>
                     {% for link in  links.GetSocial %}
                       <td>
                          <a href="{{ link.Url }}" target="_blank" title="{{ link.name }}">
                           <img src="{{ link.GetImg }}" alt="{{ link.name }}">
                          </a>
                        </td>
                     {% endfor %}
                  </tr>
               </tbody>
            </table>
         </div>
         {# End redes sociales -----------------------------------#}


         <div id="credits">
            {% block credits %}
            {% endblock credits %}
            {# créditos, legal, y otras referencias #}
            <ul class="creditos">
               {% for link in links.GetCredits %}
                  <li>
                     {% if link.Url %}
                        <a target="{{ link.target }}" href="{{ link.Url }}" title="{{ link.description }}">{{ link }}</a>
                     {% else %}
                        <a target="{{ link.target }}" title="{{ link.description }}">{{ link }}</a>
                     {% endif %}
                  </li>
               {% endfor %}
            </ul>
         </div>
      </div>
   </div>


</body>

</html>

