{% load staticfiles %}
{% load i18n %}


<!DOCTYPE html>
<html lang="es">
<!--
   Copyright 2018 Wilmer Martínez <www.wilmermartinez.com>
-->

<head>
   <meta charset="utf-8" />
   <title>{{ TITLE }}</title>
   <link rel="shortcut icon" href="{{ VAR.IMG_LOGO }}">

   <!-- Properties (Project) -->
   <meta name="project_name" content={{ PROJECT_NAME }} />
   <meta name="project_description" content={{ PROJECT_DESCRIPTION }} />
   <meta name="project_author" content={{ PROJECT_AUTHOR }} />
   <!-- SEO metaetiquetas -->
   <meta name="author" content="{{ PROJECT_AUTHOR }}" />
   <meta name="title" content="{{ TITLE }}" />
   <meta name="description" content="{{ DESCRIPTION }}" />
   <meta name="keywords" content="{{ KEYWORDS }}" />
   <!-- Twitter Card data -->
   <meta name="twitter:card" content="summary" />
   <meta name="twitter:title" content="{{ TITLE }}" />
   <meta name="twitter:description" content="{{ DESCRIPTION }}" />
   <meta name="twitter:image" content="{{ IMAGE }}" /><!-- Las imágenes de sumario de Twitter deben ser de al menos 200x200px -->
   <!-- Open Graph data (facebook)-->
   <meta property="og:title" content="{{ TITLE }}" />
   <meta property="og:type" content="article" />
   <meta property="og:url" content="{{ request.build_absolute_uri }}" />
   <meta property="og:image" content="{{ IMAGE }}" />
   <meta property="og:description" content="{{ DESCRIPTION }}" />
   <meta property="og:site_name" content="{{ VAR.WEB_NAME }}" />
   <meta property="fb:app_id" content="{{ VAR.FACEBOOK_APP_ID }}" />
   <!-- CSS -->
   <link rel="stylesheet" href="{% static 'base/css/base.css' %}" />
   <link rel="stylesheet" href="{% static 'base/css/color.css' %}" />
   <link rel="stylesheet" href="{% static 'base/css/line.css' %}" />
   <link rel="stylesheet" href="{% static 'base/css/nav.css' %}" />
   <link rel="stylesheet" href="{% static 'base/css/element.css' %}" />
   <link rel="stylesheet" href="{% static 'base/css/form.css' %}" />
   <link rel="stylesheet" href="{% static 'base/css/size.css' %}" />
   <link rel="stylesheet" href="{% static 'base/css/list.css' %}" />
   <link rel="stylesheet" href="{% static 'base/css/img.css' %}" />
   <link rel="stylesheet" href="{% static 'base/css/table.css' %}" />

   {# Utilizamos el siguiente bloque para incluir otras propiedades o archivos CSS o JS. #}
   {% block head-extras %}
   {% endblock head-extras %}
</head>

<body>



   {# Facebook SDK #}
   <div id="fb-root"></div>
   <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = 'https://connect.facebook.net/es_LA/sdk.js#xfbml=1&version=v3.2&appId=1884552708497884&autoLogAppEvents=1';
      fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));</script>
   {# End Facebook SDK #}




   {# barra de navegación #}
   <nav id="nav">
      <ul>
         {% for link in links.GetNav %}
            {% if link.Url == request.path %}
               <li><a class="nav_active" href="{{ link.Url }}" title="{{ link.description }}">{{ link }}</a></li>
            {% else %}
               <li><a href="{{ link.Url }}" placeholder="{{ link.descriptiton }}" title="{{ link.description }}">{{ link }}</a></li>
            {% endif %}
         {% endfor %}
         <li style="padding: 10px">|</li>
         <li style="padding: 10px">
            {# Facebook Like button #}
            <div class="fb-like" data-href="{{ request.build_absolute_uri }}" data-layout="button" data-action="like" data-size="large" data-show-faces="true" data-share="true"></div>
         </li>
      </ul>
   </nav>

   <div id="page">
      <div id="header">
         {# imágen de cabecera #}
         <img class="img_header" src="{{ VAR.IMG_LOGO }}" alt="{{ TITLE }}">
         {% block header %}
         {% endblock header %}
      </div>

      <div id="content">
         <div class="subtitle">
            <img class="subtitleimg" src="{{ subtitleimg }}" alt="">
            <div class="subtitletexto">{{ subtitle }}</div>
            
         </div>
         <br>
         {% block content %}
         {% endblock content %}
         <br>
      </div>

      <div id="footer">
         {% block footer %}
         {% endblock footer %}

         <div id="credits">
            {% block credits %}
            {% endblock credits %}
            {# créditos, legal, y otras referencias #}
            <ul class="credits">
               {% for link in links.GetCredits %}
                  <li>
                     <a target="{{ link.target }}" href="{{ link.Url }}" title="{{ link.description }}">{{ link }}</a>
                  </li>
                  <li>
                     <span>|</span>
                  </li>
               {% endfor %}
            </ul>
         </div>
      </div>
   </div>


</body>

</html>

