{% extends 'base/mobile/base.html' %}
{% load staticfiles %}
{% load i18n %}




{% block head-extras %}
    <script type="text/javascript" src="{% static 'base/js/prestamos.js' %}"></script>
{% endblock head-extras %}



{% block header %}
{% endblock header %}
    



{% block content %}

<div style="padding: 20px; width: 95%;">

    <div class="form2">
        <div id="errores"></div>
        <div>
            <label for="monto">{% trans "¿Cuál es el monto que necesitas?" %}</label>
            <input type="number" id="monto" placeholder="" required>
        </div>
        <div>
            <label for="cuotas">{% trans "¿En cuántas cuotas piensas pagarlo?" %}</label>
            <input type="number" id="cuotas" placeholder="" required>
        </div>
        <div>
            <label for="tasa">{% trans "¿Cuál es la tasa de interés?" %}</label>
            <input type="number" id="tasa" placeholder="" value="{{ conf.GetDict.prestamos_tasa }}" required>
        </div>
        <div>
            <label for="periodo">{% trans "¿En qué periodo realizará los pagos?" %}</label>
            <select name="periodo" id="periodo">
                <option value="diario">{% trans "Diario" %}</option>
                <option value="semanal">{% trans "Semanal" %}</option>
                <option value="quincenal">{% trans "Quincenal" %}</option>
                <option value="mensual" selected>{% trans "Mensual" %}</option>
            </select>
        </div>
        <div>
            <hr>
            <a class="button1" onclick="calcular()">{% trans "Calcular" %}</a>
            <a class="button2" href="{% url 'prestamos_solicitud' %}">{% trans "Solicitar préstamo" %}</a>
        </div>
    </div>
    <div style="color: gray; font-size: 20px">
        <b>Nota:</b>
        <i><br>
        {% trans "Cálculo aproximado de acuerdo a los datos ingresados." %} <br>
        {% trans "No se contempló período de gracia." %} <br>
        {% trans "Los resultados de esta simulación son aproximados" %}, {% trans "pudiendo variar por razones comerciales o fiscales." %} <br>
        </i>
    </div>
</div>

{# tabla de amortización #}
<div style="padding: 20px; width: 100%;">
    <div class="bcolor4" id="div_comentario" style="padding: 20px; width: 92%;"></div>
    <br>
    <table class="table1" style="width: 95%; text-align: right; font-size: 30px">
        <tbody>
            <tr>
                <th>No.</th>
                <th>{% trans "Interés" %}</th>
                <th>{% trans "Ab. capital" %}</th>
                <th>{% trans "Cuota" %}</th>
                <th>{% trans "S. capital" %}</th>
            </tr>
        </tbody>
        <tbody id="tbody_1"></tbody>
    </table>
</div>
<br style="clear: left">


{% endblock content %}
