{% extends 'base/mobile/base.html' %}
{% load staticfiles %}
{% load i18n %}










{% block header %}

{% endblock header %}
    



{% block content %}

    {# Textos traduccidos. #}
    {% trans 'Enviar solicitud' as texto1 %}

    <div style="padding: 20px; width: 96%;">
        <div class="form1">
            <form action="" method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="submit" value="{{ texto1 }}">
            </form>
        </div>
    </div>
    

{% endblock content %}
